part of {{.PubName}}.api;

{{range .Models}}{{with .Model}}{{if .IsNativeEnum}}{{template "native_enum" .}}{{else if .IsEnum}}{{template "enum" .}}{{else if .IsAlias}}{{template "type_alias" .}}{{else if .IsListAlias}}{{template "list_alias" .}}{{else if .IsMapAlias}}{{template "map_alias" .}}{{else if .IsRefAlias}}{{template "ref_alias" .}}{{else}}{{template "class" .}}{{end}}{{end}}{{end}}
